.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary section {
  background: #d9d5ca;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0 0 0 / 10%);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px 10px;
  color: #251223;
  border: 1px solid #ddd;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
  color: #251223;
}
